<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <form action="/create_short" method="post">
    <input name="full_url" placeholder="Your url">
  </form>
  <p style=><%= @new_url %></p>
</div>

